<h1>These are your reservations</h1>
<% @user.reservations.each do |reservation| %>
  <div class="reservation">
    <ul>
      <li>Restaurant <%= reservation.restaurant_name %></li>
      <li>Date: <%= reservation.date  %></li>
      <li>Time: <%= reservation.time %></li>
      <li>Party size: <%= reservation.number_of_people %></li>
      <li>Neighbourhood: <%= reservation.restaurant.neighbourhood %></li>
      <li><%= link_to "#{reservation.restaurant.restaurant_name}", "http://#{reservation.restaurant.restaurant_url}" %></li>
    </ul>
    <% end %>
  </div>
