<div class="reservation">
  <p><strong>Hello <%= current_user.first_name %>!</strong></p>

  <h2 style="text-decoration:underline">These are your reservations</h2>
  <% @reservations.each do |reservation| %>
      <ul>
        <li>Restaurant: <strong><%= reservation.restaurant_name %></strong></li>
        <li>Date: <%= reservation.date  %></li>
        <li>Time: <%= reservation.time %></li>
        <li>Party size: <%= reservation.number_of_people %></li>
        <li>Neighbourhood: <%= reservation.restaurant.neighbourhood %></li>
        <li><strong><%= link_to "#{reservation.restaurant.restaurant_name}", "http://#{reservation.restaurant.restaurant_url}" %><strong></li>
      </ul>
      <% end %>
    </div>
  </br>
  <hr>
</div>
