<h2>Here is your reservation for <%= @reservation.restaurant.restaurant_name %></h2>

<div class="info">
  <ul>
    <li>Restaurant: <%= @reservation.restaurant_name %></li>
    <li>Date: <%= @reservation.date %></li>
    <li>Time: <%= @reservation.time %>:00h</li>
    <li>Party size: <%= @reservation.number_of_people %></li>

  </ul>
</div>
