<div class="indRest">
  <%= link_to(image_tag(restaurant.url), restaurant_path(restaurant)) %>
  <h4 class="restaurant-name"><%= link_to(restaurant.restaurant_name, restaurant_path(restaurant)) %></h4>
  <div id="rest-show-info">
    <strong>Open: </strong><%= restaurant.hours_open %></br>
    <strong>Close:</strong> <%= restaurant.hours_closed %></br>
    <strong>Capacity: </strong><%= restaurant.capacity %></br>
    <strong>Address:</strong> <%= restaurant.address %></br>
    <strong>Neighbourhood:</strong> <%= restaurant.neighbourhood %></br>
    <strong>Price Range:</strong> <%= restaurant.price_range %></br>
    <strong>Summary:</strong> <%= restaurant.summary %></br>
    <strong>Website: </strong><%= link_to "#{restaurant.restaurant_name}", "http://#{restaurant.restaurant_url}" %>
  </div>
</div>
