<div class="restaurant">
  <p><%= link_to(image_tag(restaurant.url), restaurant_path(restaurant)) %> </p>
  <p><%= restaurant.restaurant_name %></p>
  <p><%= restaurant.hours_open %></p>
  <p><%= restaurant.hours_closed %></p>
  <p><%= restaurant.capacity %></p>
</div>
