<h1 class="rest-name-show"><%= @restaurant.restaurant_name %></h1>

    <div class="restaurant-show">

      <%= render 'restaurant', restaurant: @restaurant %>

      <%= render '/reservations/error', reservation: @reservation %>

</div>
<hr>

<div class="reservation-form">

  <h3>Book a Reservation</h3>
    <p>Available time slots for today, <%= Date.today %>:</p>
    <% @restaurant.available_time_slots(Date.today).each do |time_slot| %>
      <div class="time_slot">
        <%= time_slot %>:00 PM
      </div>
    <% end %>


  <%= form_for(@reservation) do |f| %>
    <%= f.hidden_field :restaurant_name, :value => @restaurant.restaurant_name %>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :date %>
      <%= f.date_field :date %>
    </p>

    <p>
      <%= f.label :time %>
      <%= f.number_field :time %>
    </p>

    <p>
      <%= f.label :number_of_people %>
      <%= f.number_field :number_of_people %>
    </p>

    <div class="button">
      <%= f.submit "Save", :class => "button" %>
    </div>

      <% end %>

</div>
